<div class="row">
    <!--<h3>In Organization Home...</h3>-->
</div>
<!--<div class="app">
    <dynamic-form
      [config]="config"
      #form="dynamicForm"
      (submit)="submit($event)">
    </dynamic-form>
    {{ form.valid }}
    {{ form.value | json }}
  </div>-->
<!-- my_custom.component.html -->
<!-- Specify the callbacks in 'MyCustomComponent' for each event -->
<!--<div ng2FileDrop class="custom-component-drop-zone"

    (ng2FileDropHoverStart)="dragFileOverStart()" (ng2FileDropHoverEnd)="dragFileOverEnd()"
    (ng2FileDropFileAccepted)="dragFileAccepted($event)" (ng2FileDropFileRejected)="dragFileRejected($event)">

</div>

<div ng2FileDrop class="custom-component-drop-zone"

    [ng2FileDropAcceptMultiple]="true" 

    (ng2FileDropHoverStart)="dragFileOverStart()" (ng2FileDropHoverEnd)="dragFileOverEnd()"
    (ng2FileDropFilesDropped)="dragFilesDropped($event)">

</div>-->