<!--<div (mouseleave)="resetClock()" (mouseenter)="resetClock()">-->
    <div>
    
    <div >
 <modal  [animation]="animation" [keyboard]="keyboard" [backdrop]="'static'" (onClose)="closed()" (onDismiss)="dismissed()"
        (onOpen)="opened()" #validationModal>
        <form #modalForm="ngForm">
            <modal-header [show-close]="true">
                <h4 class="modal-title">{{currWizardOp}} SNMP Details</h4>
            </modal-header>
            <modal-body>
                <div *ngIf="addWizard||modifyWizard">
                     <snmp-add-wizard [data]="currWizardData" [operation]="currWizardOp" (closeModal)="close1($event)" (closeModalWizard)="validationModal.dismiss()"></snmp-add-wizard>
                     
                </div>
                <div *ngIf="(!addWizard)&&(!modifyWizard)">
                      <!--Selected Operation {{currWizardOp}}-->
                   <default-delete-wizard
                             [rpcMethod]="'orgManagerCredentialsSNMPMethod'" 
                             [deleteParams]="deleteParamForSelected" 
                             [context]="'Organization SNMP'"
                             (closeModal)="close1($event)" 
                             (closeModalWizard)="validationModal.dismiss()">
                        You are going to delete SNMP Details Settings...<br>
                        Shall we Proceed...?
                    </default-delete-wizard>                      
                </div>
            </modal-body>
            <modal-footer>
           </modal-footer>
        </form>
    </modal>
    </div>
    <!--<ba-card baCardClass="with-scroll table-panel">-->
   <collection-table
        [collectionTableData]= tableData
        [columns]= columns
        [hideWizardButtons]=false
        [hideSearchBox]=false
        tableID = "snmpTable"
        tableTitle ="SNMP Credential Details"
        addButtonID="addSNMPDetails"
        modifyButtonID="modifySNMPDetails"
        deleteButtonID="deleteSNMPDetails"
        enableUnselectOnExit="yes"
        [rowsOnPage] = 3
        sortBy = "readCommunityString"
        sortOrder = "asc"
        [rowsOnPageButtons] = [1,3,5,10,15]
        (deleteButtonClicked)="validationModal.open('lg')"
        (addModifyButtonClicked)="validationModal.open('lg')"
        (selectedData) = "selectedRowData($event)"
        (selectedWizardOperation) = "selectedWizardOperation($event)"
        >
    </collection-table>
    <!--</ba-card>-->
</div>