
    <div id={{data._id}} class="taskMenuChildItem" (click)="showSelectedTaskDetails()" >
      <button type="button" class="close close-image taskMenuChildItem" (click)="removeSelectedTask()" >
        <span class="taskMenuChildItem" aria-hidden="true">&times;</span><span class="sr-only taskMenuChildItem">Close</span>
      </button>
      {{data.name}}
    </div>
    <div class="progress taskMenuChildItem"*ngIf="data.status!='failed'" (click)="showSelectedTaskDetails()" >
        <div class="progress-bar progress-bar-success progress-bar-striped taskMenuChildItem" role="progressbar" [attr.aria-valuenow]="progress" aria-valuemin="0" aria-valuemax ="100" 
        style="min-width: 2em;" [style.width]="(data.percentage/100)*100 + '%'">
        <span *ngIf="data.percentage!=100" class="taskMenuChildItem">
            {{data.percentage}}%
        </span>
        <span *ngIf="data.percentage==100" class="taskMenuChildItem">
            Completed !!!
        </span>
        </div>
    </div>
    <div class="progress taskMenuChildItem" *ngIf="data.status=='failed'" (click)="showSelectedTaskDetails()" >
        <div class="progress-bar progress-bar-danger progress-bar-striped taskMenuChildItem" role="progressbar" [attr.aria-valuenow]="progress" aria-valuemin="0" aria-valuemax ="100" 
        style="min-width: 2em;" [style.width]="'100%'">
        <span class="taskMenuChildItem">
            Failed !!!
        </span>
        
        </div>
    </div>
    <span style="font-size:xx-small; float:right">{{currTime}}</span><br>
